$color-1: #222;
$color-2: #fff;
$color-2-1: #ccc;
$color-2-1: #ddd;




$font-family__default_sans: 'Helvetica Neue', Verdana, Arial, sans-serif;
$font-family__default_serif: Georgia, Times, 'Times New Roman', serif;

$font-family__open-sans: 'Open Sans';

$font-family__primary: $font-family__open-sans, $font-family__default_sans, $font-family__default_serif;